@import url(https://fonts.googleapis.com/css?family=Roboto:400,700|Lato:400,700);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  -webkit-appearance: none; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1em; }

ol,
ul {
  list-style: none; }

input,
select {
  vertical-align: middle; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Roboto';
  font-weight: 400;
  color: #FFFFFF; }

a,
a:hover,
a:focus,
a:visited,
a:active {
  font-family: 'Roboto';
  text-decoration: none;
  color: #FFFFFF;
  outline: none;
  -webkit-appearance: none;
  transition: all linear 0.25s; }

.sr-only {
  display: none; }

#trailstatuswidget-large .trail-status-widget-wrapper,
#trailstatuswidget-small .trail-status-widget-wrapper {
  width: 100%;
  text-align: center; }
#trailstatuswidget-large .trail-status-widget-large,
#trailstatuswidget-small .trail-status-widget-large {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  min-width: 450px;
  overflow: hidden; }
#trailstatuswidget-large .content-outer-wrapper,
#trailstatuswidget-small .content-outer-wrapper {
  position: relative;
  box-shaow: inset 0 0 0 1000px rgba(26, 26, 26, 0.5) !important;
  height: 250px; }
#trailstatuswidget-large .trail-image,
#trailstatuswidget-small .trail-image {
  height: 100%;
  background: center center no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(26, 26, 26, 0.5) !important;
  z-index: -1; }
#trailstatuswidget-large .trail-name,
#trailstatuswidget-small .trail-name {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  color: #FFFFFF; }
  #trailstatuswidget-large .trail-name h1,
  #trailstatuswidget-small .trail-name h1 {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 21px;
    margin-bottom: 5px;
    line-height: 1em;
    text-transform: capitalize; }
  #trailstatuswidget-large .trail-name h6,
  #trailstatuswidget-small .trail-name h6 {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 12px; }
#trailstatuswidget-large .comment-box,
#trailstatuswidget-small .comment-box {
  position: absolute;
  width: 100%;
  bottom: 60px;
  padding: 6px 0;
  color: #FFFFFF;
  z-index: 2; }
  #trailstatuswidget-large .comment-box p,
  #trailstatuswidget-small .comment-box p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    margin: 10px 20px;
    line-height: 1.1em; }
  #trailstatuswidget-large .comment-box.open,
  #trailstatuswidget-small .comment-box.open {
    background-color: rgba(24, 102, 48, 0.8) !important; }
  #trailstatuswidget-large .comment-box.caution,
  #trailstatuswidget-small .comment-box.caution {
    background-color: rgba(119, 78, 35, 0.8) !important; }
  #trailstatuswidget-large .comment-box.closed,
  #trailstatuswidget-small .comment-box.closed {
    background-color: rgba(120, 27, 36, 0.8) !important; }
  #trailstatuswidget-large .comment-box.snow,
  #trailstatuswidget-small .comment-box.snow {
    background-color: rgba(11, 81, 121, 0.8) !important; }
#trailstatuswidget-large .comment-arrow,
#trailstatuswidget-small .comment-arrow {
  position: absolute;
  width: 0;
  height: 0;
  bottom: -10px;
  left: calc(50% - 10px);
  border-style: solid;
  border-width: 10px 10px 0 10px;
  opacity: 0.4; }
  #trailstatuswidget-large .comment-arrow.open,
  #trailstatuswidget-small .comment-arrow.open {
    border-color: #2FCC61 transparent transparent transparent; }
  #trailstatuswidget-large .comment-arrow.caution,
  #trailstatuswidget-small .comment-arrow.caution {
    border-color: #EF9D45 transparent transparent transparent; }
  #trailstatuswidget-large .comment-arrow.closed,
  #trailstatuswidget-small .comment-arrow.closed {
    border-color: #F13647 transparent transparent transparent; }
  #trailstatuswidget-large .comment-arrow.snow,
  #trailstatuswidget-small .comment-arrow.snow {
    border-color: #16A3F2 transparent transparent transparent; }
#trailstatuswidget-large .status-wrapper,
#trailstatuswidget-small .status-wrapper {
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: 0;
  left: 0;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  background-color: rgba(26, 26, 26, 0.85);
  text-transform: capitalize;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  #trailstatuswidget-large .status-wrapper span,
  #trailstatuswidget-small .status-wrapper span {
    font-weight: 700;
    text-transform: uppercase; }
  #trailstatuswidget-large .status-wrapper.open,
  #trailstatuswidget-small .status-wrapper.open {
    color: #2FCC61 !important; }
  #trailstatuswidget-large .status-wrapper.closed,
  #trailstatuswidget-small .status-wrapper.closed {
    color: #F13647 !important; }
  #trailstatuswidget-large .status-wrapper.caution,
  #trailstatuswidget-small .status-wrapper.caution {
    color: #EF9D45 !important; }
  #trailstatuswidget-large .status-wrapper.snow,
  #trailstatuswidget-small .status-wrapper.snow {
    color: #16A3F2 !important; }
#trailstatuswidget-large .trail-info-wrapper,
#trailstatuswidget-small .trail-info-wrapper {
  position: relative;
  width: 100%;
  height: 60px;
  padding: 0;
  background-color: #1A1A1A;
  font-family: 'Roboto';
  font-weight: 400;
  text-align: center;
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  #trailstatuswidget-large .trail-info-wrapper .trail-info,
  #trailstatuswidget-small .trail-info-wrapper .trail-info {
    text-align: center;
    width: 100%;
    margin: 0 auto; }
  #trailstatuswidget-large .trail-info-wrapper li,
  #trailstatuswidget-small .trail-info-wrapper li {
    display: inline-block;
    width: 18%;
    font-size: 12px;
    text-transform: uppercase;
    color: #299855;
    border-right: 1px solid rgba(255, 255, 255, 0.1); }
  #trailstatuswidget-large .trail-info-wrapper li:last-child,
  #trailstatuswidget-small .trail-info-wrapper li:last-child {
    border: 0; }
  #trailstatuswidget-large .trail-info-wrapper span,
  #trailstatuswidget-small .trail-info-wrapper span {
    display: block;
    width: 100%;
    text-transform: capitalize;
    color: #FFFFFF; }
  #trailstatuswidget-large .trail-info-wrapper .info-arrow,
  #trailstatuswidget-small .trail-info-wrapper .info-arrow {
    display: none; }
#trailstatuswidget-large .trail-info-button,
#trailstatuswidget-small .trail-info-button {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: 'Roboto';
  font-size: 14px;
  padding: 10px 9px;
  opacity: 0.7;
  z-index: 3;
  border-radius: 100px;
  background-color: #1A1A1A;
  color: #FFC900; }
#trailstatuswidget-large .trail-info-button:hover,
#trailstatuswidget-small .trail-info-button:hover {
  opacity: 1; }
#trailstatuswidget-large .trail-info-button.fixed,
#trailstatuswidget-small .trail-info-button.fixed {
  opacity: 1; }
#trailstatuswidget-large .trail-info-wrapper.fixed,
#trailstatuswidget-small .trail-info-wrapper.fixed {
  position: absolute;
  bottom: 25px;
  z-index: 2;
  text-align: center;
  z-index: 3; }
  #trailstatuswidget-large .trail-info-wrapper.fixed .info-arrow,
  #trailstatuswidget-small .trail-info-wrapper.fixed .info-arrow {
    display: block;
    position: absolute;
    top: -10px;
    right: 23px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #1A1A1A transparent;
    opacity: 1; }
#trailstatuswidget-large .trail-status-link,
#trailstatuswidget-small .trail-status-link {
  position: relative;
  width: 100%;
  height: 25px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 10px;
  text-align: right;
  background-color: #1A1A1A;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5; }
  #trailstatuswidget-large .trail-status-link a,
  #trailstatuswidget-small .trail-status-link a {
    padding: 1px 30px 0 0;
    color: #299855;
    width: 100%; }
#trailstatuswidget-large .logo-image,
#trailstatuswidget-small .logo-image {
  width: auto;
  height: 27px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -3px; }

#trailstatuswidget-small .trail-status-widget-small {
  position: relative;
  text-align: center;
  margin: 20px 0; }
  #trailstatuswidget-small .trail-status-widget-small h1 {
    max-width: 125px;
    margin: -15px auto 0 auto;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 14px;
    text-transform: capitalize;
    line-height: 1em;
    text-align: center;
    color: #1A1A1A; }
#trailstatuswidget-small a,
#trailstatuswidget-small a:hover {
  text-decoration: none;
  color: #FFFFFF !important; }
#trailstatuswidget-small .logo-image {
  height: 75px;
  width: auto;
  display: block;
  text-align: center;
  vertical-align: middle;
  margin: -10px auto 0 auto; }
#trailstatuswidget-small .status-box {
  position: relative;
  display: inline-block;
  width: auto;
  margin: 0 auto;
  padding: 5px 10px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 2px; }
  #trailstatuswidget-small .status-box.open {
    background-color: #2FCC61 !important; }
  #trailstatuswidget-small .status-box.caution {
    background-color: #EF9D45 !important; }
  #trailstatuswidget-small .status-box.closed {
    background-color: #F13647 !important; }
  #trailstatuswidget-small .status-box.snow {
    background-color: #16A3F2 !important; }
#trailstatuswidget-small .comment-arrow {
  border-width: 8px 8px 0 8px;
  bottom: -8px;
  opacity: 1;
  left: calc(50% - 8px); }

/*# sourceMappingURL=trail-status.css.map */
