@import "reset";
// Fonts
// ------------------------------------------------------------------------------------------------------
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700|Lato:400,700);
// Colors
// ------------------------------------------------------------------------------------------------------
$light: #FFFFFF !default;
$energized: #FFC900 !default;
$dark: #1A1A1A !default;
$open-color: #2FCC61 !default;
$closed-color: #F13647 !default;
$caution-color: #EF9D45 !default;
$snow-color: #16A3F2 !default;
$open-color-rgba: rgba(24, 102, 48, 0.8);
$closed-color-rgba: rgba(120, 27, 36, 0.8);
$caution-color-rgba: rgba(119, 78, 35, 0.8);
$snow-color-rgba: rgba(11, 81, 121, 0.8);

// Global
// ------------------------------------------------------------------------------------------------------
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Roboto';
  font-weight: 400;
  color: $light;
}

a,
a:hover,
a:focus,
a:visited,
a:active {
  font-family: 'Roboto';
  text-decoration: none;
  color: $light;
  outline: none;
  -webkit-appearance: none;
  transition: all linear 0.25s;
}

.sr-only {
  display: none;
}

// TrailStatus Widget
// ------------------------------------------------------------------------------------------------------
#trailstatuswidget-large,
#trailstatuswidget-small {
  .trail-status-widget-wrapper {
    width: 100%;
    text-align: center;
  }
  .trail-status-widget-large {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    min-width: 450px;
    overflow: hidden;
  }
  .content-outer-wrapper {
    position: relative;
    box-shaow: inset 0 0 0 1000px rgba($dark, 0.5) !important;
    height: 250px;
  }
  .trail-image {
    height: 100%;
    background: center center no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba($dark, 0.5) !important;
    z-index: -1;
  }
  .trail-name {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    color: $light;
    h1 {
      font-family: 'Lato';
      font-weight: 700;
      font-size: 21px;
      margin-bottom: 5px;
      line-height: 1em;
      text-transform: capitalize;
    }
    h6 {
      font-family: 'Lato';
      font-weight: 400;
      font-size: 12px;
    }
  }
  // Comment Box
  // ------------------------------------------------------------------------------------------------------
  .comment-box {
    position: absolute;
    width: 100%;
    bottom: 60px;
    padding: 6px 0;
    color: $light;
    z-index: 2;
    p {
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 14px;
      margin: 10px 20px;
      line-height: 1.1em;
    }
    &.open {
      background-color: $open-color-rgba !important;
    }
    &.caution {
      background-color: $caution-color-rgba !important;
    }
    &.closed {
      background-color: $closed-color-rgba !important;
    }
    &.snow {
      background-color: $snow-color-rgba !important;
    }
  }
  .comment-arrow {
    position: absolute;
    width: 0;
    height: 0;
    bottom: -10px;
    left: calc(50% - 10px);
    border-style: solid;
    border-width: 10px 10px 0 10px;
    opacity: 0.4;
    &.open {
      border-color: $open-color transparent transparent transparent;
    }
    &.caution {
      border-color: $caution-color transparent transparent transparent;
    }
    &.closed {
      border-color: $closed-color transparent transparent transparent;
    }
    &.snow {
      border-color: $snow-color transparent transparent transparent;
    }
  }
  // Trail Status Box
  // ------------------------------------------------------------------------------------------------------
  .status-wrapper {
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0;
    left: 0;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    background-color: rgba(26, 26, 26, 0.85);
    text-transform: capitalize;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    span {
      font-weight: 700;
      text-transform: uppercase;
    }
    &.open {
      color: $open-color !important;
    }
    &.closed {
      color: $closed-color !important;
    }
    &.caution {
      color: $caution-color !important;
    }
    &.snow {
      color: $snow-color !important;
    }
  }
  // Trail info when javascript disabled
  // ------------------------------------------------------------------------------------------------------
  .trail-info-wrapper {
    position: relative;
    width: 100%;
    height: 60px;
    padding: 0;
    background-color: $dark;
    font-family: 'Roboto';
    font-weight: 400;
    text-align: center;
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .trail-info {
      text-align: center;
      width: 100%;
      margin: 0 auto;
    }
    li {
      display: inline-block;
      width: 18%;
      font-size: 12px;
      text-transform: uppercase;
      color: #299855;
      border-right: 1px solid rgba($light, 0.1);
    }
    li:last-child {
      border: 0;
    }
    span {
      display: block;
      width: 100%;
      text-transform: capitalize;
      color: $light;
    }
    .info-arrow {
      display: none;
    }
  }
  // Trail info when javascript enabled
  // ------------------------------------------------------------------------------------------------------
  .trail-info-button {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: 'Roboto';
    font-size: 14px;
    padding: 10px 9px;
    opacity: 0.7;
    z-index: 3;
    border-radius: 100px;
    background-color: $dark;
    color: $energized;
  }
  .trail-info-button:hover {
    opacity: 1;
  }
  .trail-info-button.fixed {
    opacity: 1;
  }
  .trail-info-wrapper.fixed {
    position: absolute;
    bottom: 25px;
    z-index: 2;
    text-align: center;
    z-index: 3;
    .info-arrow {
      display: block;
      position: absolute;
      top: -10px;
      right: 23px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent $dark transparent;
      opacity: 1;
    }
  }
  // Footer
  // ------------------------------------------------------------------------------------------------------
  .trail-status-link {
    position: relative;
    width: 100%;
    height: 25px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 10px;
    text-align: right;
    background-color: $dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
    a {
      padding: 1px 30px 0 0;
      color: #299855;
      width: 100%;
    }
  }
  .logo-image {
    width: auto;
    height: 27px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
  }
}

// TrailStatus Widget Small
// ------------------------------------------------------------------------------------------------------
#trailstatuswidget-small {
  .trail-status-widget-small {
    position: relative;
    text-align: center;
    margin: 20px 0;
    h1 {
      max-width: 125px;
      margin: -15px auto 0 auto;
      font-family: 'Lato';
      font-weight: 700;
      font-size: 14px;
      text-transform: capitalize;
      line-height: 1em;
      text-align: center;
      color: $dark;
    }
  }
  a,
  a:hover {
    text-decoration: none;
    color: $light !important;
  }
  .logo-image {
    height: 75px;
    width: auto;
    display: block;
    text-align: center;
    vertical-align: middle;
    margin: -10px auto 0 auto;
  }
  .status-box {
    position: relative;
    display: inline-block;
    width: auto;
    margin: 0 auto;
    padding: 5px 10px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 2px;
    &.open {
      background-color: $open-color !important;
    }
    &.caution {
      background-color: $caution-color !important;
    }
    &.closed {
      background-color: $closed-color !important;
    }
    &.snow {
      background-color: $snow-color !important;
    }
  }
  .comment-arrow {
    border-width: 8px 8px 0 8px;
    bottom: -8px;
    opacity: 1;
    left: calc(50% - 8px);
  }
}
