<div id="trailstatuswidget-large" class="trail-status-widget-wrapper">
  <div class="trail-status-widget-large">
    <div class="content-outer-wrapper">

      <!-- Trail Background Image -->
      <div id="slider">
        <% _.each(images, function(image) { %>
        <% if(image.url) { %>
        <div class="trail-image"
             style="background-image: url('https://cdn-trail-status.yazdaapp.com<%=image.url %>')">
          <% } else { %>
          <div class="trail-image"
               style="background-image:url('https://cdn-trail-status.yazdaapp.com/<%=image%>')">
            <% } %>
          </div>
          <% }) %>
        </div>

        <!-- Name and Update Date -->
        <div class="trail-name">
          <a href="https://trail-status.yazdaapp.com/trails/<%= id %>"
             title="Go to Trail Status Website">
            <h1><%= name %></h1>
            <h5><%= city %></h5>
            <h6>Last Updated: <%= lastUpdated %></h6>
          </a>
        </div>

        <!-- Comment Box -->
        <% if(comment) { %>
        <div class="comment-box <%= status %>">
          <p>
            <%= comment %>
          </p>
          <div class="comment-arrow <%= status %>"></div>
        </div>

        <!-- Status Box -->
        <% } %>
        <div class="status-wrapper <%= status %>">
          <div>trail status:
            <span><%= status %></span>
          </div>
        </div>
      </div>

      <!-- Trail Info Box -->
      <a class="trail-info-button" href="#" title="Trail Info">
        <img class="logo-image" src="https://cdn-trail-status.yazdaapp.com/images/ios-pulse.svg">
        <span class="sr-only">Trail Info</span>
      </a>
      <div class="trail-info-wrapper">
        <div class="info-arrow"></div>
        <ul class="trail-info">
          <li>miles<span><%= miles %></span>
          </li>
          <li>ascent<span><%= ascent %></span>
          </li>
          <li>descent<span><%= descent %></span>
          </li>
          <li>type<span><%= type %></span>
          </li>
          <li>level<span><%= level %></span>
          </li>
        </ul>
      </div>

      <!-- Footer -->
      <div class="trail-status-link">
        <a href="https://trail-status.yazdaapp.com"
           title="Go to Trail Status Website">
          <img class="logo-image"
               src="https://cdn-trail-status.yazdaapp.com/images/Trail_Status_Icons_Logo_Image_Light.svg">
          <span>trail-status.yazdaapp.com</span>
        </a>
      </div>
    </div>
  </div>
</div>
