<div id="trailstatuswidget-small" class="trail-status-widget-wrapper">
  <div class="trail-status-widget-small">

    <a class="trail-status-link-small"
       href="https://trail-status.yazdaapp.com/trails/<%= id %>"
       title="Go to <%= name %> Trail Status Page.">
      <!-- Status Bubble -->
      <div class="status-box <%= status %>">
        <div class="uppercase bold">
          <%= status %>
        </div>
        <div class="comment-arrow <%= status %>"></div>
      </div>

      <!-- Logo -->
      <img class="logo-image"
           src="https://cdn-trail-status.yazdaapp.com/images/Trail_Status_Icons_Logo_Image_Dark.svg">

      <!-- Trail Name -->
      <h1><%= name %></h1>
    </a>
  </div>
</div>
